.heading{
    display: flex;
    background: rgb(35, 168, 35);
    color: white;
    border: 5px #fff solid;
    padding: 2em;
    justify-content: center;
    align-items: center;
    /* width: 800px; */
    /* height: 150px; */
    width: 100%;
}

h1{
    margin: 0;
}

.name{
    text-align: center;
}

.head{
    border: 2px solid white;
    padding-right: 5px;
    padding-left: 5px;
}

.sidebar{
    margin-left: 30px;
    background-color:rgb(167, 245, 245);
    padding: 40px;
    border-radius: 10px;
    float: left;
    height: 100%;
    grid-column-start: 1;
    border-color: blue;    
}

.grid{
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 3em;
    justify-items: center;
    float: right;
    width: 85%;
    height: auto;
   /*  grid: column start 1; */
    grid-column-end: 3; 
    padding-left: 40px;
}

.main{
    background-color: rgb(238, 238, 42);
    margin-left: 30px;
    padding: 50px;
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    flex: 50%;
}

.pic img{ 
    border-radius: 90px;
    height: 200px;
    width: 200px;
}

.school1{
    display: flex;
}

.highyrs{
    padding-right: 110px;
}

.school2{
    display: flex;
}

.uwiyrs{
    padding-right: 95px;
}

.work1{
    display: flex;
}

.allieadyr{
    padding-right: 110px;
}

.denbigh{
    padding-right: 110px;
}